#main > .posts + .posts {
    margin-top: 2rem;
}

#main > .posts > h2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main > .posts > h2 > time {
    font-size: 1rem;
    font-weight: normal;
}

#main > .posts > .content {
    padding-top: 1rem;
}

@media screen and (min-width: 768px) {
    #main > .posts > div {
        margin-left: 2rem;
    }
}
