<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/code.css" | prepend: site.baseurl }}">
	{% if page.agda %}
	<link rel="stylesheet" href="{{ "/assets/css/Agda.css" | prepend: site.baseurl }}">
	{% endif %}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds.xml">
	<!-- PUBLIC RESOURCE BEGIN -->
	<!-- <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}"> -->
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat" rel="stylesheet"> 
	<!-- PUBLIC RESOURCE END -->
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<link rel="author" href="https://github.com/ice1000">
	<meta name="twitter:site" content="{{ site.twitter }}">
	<!-- <\!--/*404 THINGS*/[if lt IE 9]> -->
	<!-- <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> -->
	<!-- <!/**/[endif]-\-> -->
	<!-- <\!--[if lt IE 9]-\-> -->
	<!-- <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script> -->
	<!-- <\!--[endif]-\-> -->
	<meta property="og:title" content="{{ site.domain }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="{{ site.domain }}">
	<meta property="og:description" content="{{ site.description }}">
	{% include google-stuffs.html %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseur | prepend: site.url }}">
</head>
