<header id="top">
	<nav>
		<ul>
			<!-- <li><a href="https://github.com/{{ site.github_username }}"> -->
			<!-- 	<img src="/assets/svg/mark-github.svg" /><span>GitHub</span></a></li> -->
			<li><a href="/pages/about.html">
				<img src="/assets/svg/mention.svg"/><span>About</span></a></li>
			<!-- <li><a href="/lagda/"> -->
			<!-- 	<img src="/assets/svg/law.svg"/><span>LAgda</span></a></li> -->
			<!-- <li><a href="/gists/"> -->
			<!-- 	<img src="/assets/svg/file-code.svg"/><span>Gists</span></a></li> -->
			<!-- <li><a href="/languages/"> -->
			<!-- 	<img src="/assets/svg/terminal.svg"/><span>Langs</span></a></li> -->
			<!-- <li><a href="/projects/"> -->
			<!-- 	<img src="/assets/svg/repo.svg"/><span>Projects</span></a></li> -->
			<!-- <li><a href="/pages/cn.html"> -->
        <!-- <img src="/assets/svg/tag.svg"/><span>Chinese</span></a></li> -->
			<li><a href="/JDK/index.html">
				<img src="/assets/svg/java.svg"/><span>JDKAnalysis</span></a></li>
			<li><a href="/CharacterMap/index.html">
				<img src="/assets/svg/font.svg"/><span>CharacterMap</span></a></li>
			<li><a href="/">
				<img src="/assets/svg/home.svg"/><span>Home</span></a></li>
		</ul>
	</nav>
</header>

<div style="border-bottom: 1px solid #000"></div>
