h1 + h2 {
	margin: 0 0 1em;
}

h1,
h2,
h3 {
	color: #222;
	text-align: left;
}

h1 {
	font-size: 1.5em;
	line-height: 1.3em;
	font-weight: 200;
	font-style: normal;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.5em;
	font-family: 'Montserrat', "华文中宋", "方正小标宋", serif;
	font-weight: 400;
}

h2 {
	font-size: 1.4em;
	line-height: 1.1em;
	font-weight: 300;
	margin-bottom: 0.3em;
	font-style: normal;
	padding-bottom: 0.1em;
	border-bottom: 1px ridge #595959;
}

h2 + p {
	margin-top: 0;
}

h2 {
	font-size: 1.2em;
	line-height: 1.1em;
	font-weight: 300;
	margin-bottom: 0;
	font-style: normal;
}

li article h2 {
	padding-bottom: unset;
	border-bottom: unset;
}

h2 + .date {
	margin: -1.5em 0 0;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}
